.addKeyboard div {
    position: relative;
}

.gform_wrapper .addKeyboard div input[type="text"],
.gform_wrapper .addKeyboard div textarea {
    direction: ltr!important;
    padding: 5px!important;
    line-height: 1.5;
}

.addKeyboard div p {
    position: absolute;
    top: 7px;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.addKeyboard div p span {
    padding: 3px 6px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.addKeyboard div p span.white {
    color: #28303d;
    background-color: #fff;
    border: 1px solid #28303d;
    font-weight: 700;
}

.addKeyboard div p span.black {
    background-color: #28303d;
    color: #fff;
    font-weight: 500;
}

.addKeyboard div p img {
    max-width: 40px;
}

.ui-keyboard div {
 border-radius: 7px;
 -webkit-border-radius: 7px;
 -moz-border-radius: 7px;
 -ms-border-radius: 7px;
 -o-border-radius: 7px;
}

.ui-keyboard.black div {
    background-color: #28303d;
}

.ui-keyboard.white div {
    background-color: #fff;
    border: 1px solid #28303d;
    padding: 5px;
    line-height: 0;
}

.ui-keyboard-preview-wrapper input,
.ui-keyboard-preview-wrapper textarea {
    padding: 10px!important;
}

.ui-keyboard button.ui-keyboard-button,
.ui-keyboard button.ui-keyboard-button:active {
    height: auto;
    min-width: 2em;
    width: auto;
    margin: .1em;
    cursor: pointer;
    overflow: hidden;
    line-height: 1.43;
    padding: 2px;
    -moz-user-focus: ignore;
    border: 1px solid var(--global--color-background);
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    color: inherit;
}

.ui-keyboard.white button.ui-keyboard-button,
.ui-keyboard.white button.ui-keyboard-button:active {
    border: 1px solid #28303d;
    background-color: #fff;
    color: #28303d;
}

.ui-keyboard.white button.ui-keyboard-button:hover {
    border: 1px solid #fff;
    background-color: #28303d;
    color: #fff;
}

.ui-keyboard.black button.ui-keyboard-button,
.ui-keyboard.black button.ui-keyboard-button:active {
    border: 1px solid #fff;
    background-color: #28303d;
    color: #fff;
}

.ui-keyboard.black button.ui-keyboard-button:hover {
    border: 1px solid #28303d;
    background-color: #fff;
    color: #28303d;
}

.ui-keyboard button.ui-keyboard-space {
    min-width: 15em;
}

@media (max-width: 768px) {
    .ui-keyboard button.ui-keyboard-button {
        min-width: 1em;
        line-height: 1.15;
    }
    .ui-keyboard button.ui-keyboard-space {
        min-width: 10em;
    }
}

@media (max-width: 576px) {
    .ui-keyboard button.ui-keyboard-button {
        font-size: 15px;
    }
}